
body{
    margin: 0 2% ;
}
.cell input{
   padding:0px 35rem;
}
#row{
    display: flex;
    justify-content: space-between;
    margin: 0px !important;
    padding: 0%;
}
select{
    margin: 0px 0px 0px 2rem;
}